/* 푸터 중앙 정렬 */
.page__footer {
  text-align: center !important;
}

.page__footer-follow {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.page__footer-follow ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.page__footer-follow li {
  margin: 0;
}

.page__footer-copyright {
  text-align: center;
}
